## Agregación de datos por categoría

In [1]:
# Agregar datos es combinar con algun criterio el mas tipico es una varibale categorica para junatar todo la informacion de una misma categoria.
# Es comun utilizar variables categoricas y tomar una decision de donde pertenece cada elemento.

In [2]:
import numpy as np
import pandas as pd

In [3]:
gender = ["Male", "Female"]
income = ["Poor", "Middle Class", "Rich"]

In [4]:


n = 500 # tamaño del dataset

gender_data = []
income_data = []

for i in range(0,500):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [5]:
gender_data[1:10]

['Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Female']

In [6]:
income_data[1:10]

['Middle Class',
 'Middle Class',
 'Rich',
 'Middle Class',
 'Middle Class',
 'Middle Class',
 'Rich',
 'Rich',
 'Rich']

In [7]:
#Z -> N(0,1)
#N(m, s) -> m + s * Z
height = 160 + 30 * np.random.randn(n) # dist normal, media=160 y dispercion=30
weight = 65 + 25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 18000 + 3500 * np.random.rand(n)

In [8]:
data = pd.DataFrame(
    {
        "Gender" : gender_data,
        "Economic Status" : income_data,
        "Height" : height,
        "Weight" : weight,
        "Age" : age,
        "Income" : income
    }
)

In [9]:
data.head()

   Gender Economic Status      Height     Weight        Age        Income
0  Female            Rich  141.600593  69.008587  29.807013  20808.420221
1    Male    Middle Class  168.414390  88.672096  34.300985  20130.990820
2  Female    Middle Class  163.507396  47.237598  49.743613  20592.855244
3  Female            Rich  168.270341  18.916191  23.672782  21439.918412
4    Male    Middle Class  206.085378  42.415634  26.609639  19054.889165